@mixin fontSize($sizeValue){
    font-size: $sizeValue * 1px;
    font-size: calc($sizeValue/10) * 1rem;
}


.aboutContactContainer {
    margin-top: 2em;
    display: flex;
    flex-flow: wrap;
    gap: 20px;
    // align-items: center;

    .contact_address, .contact_contact,.contact_hours {
        width: calc(33.3% - 20px);
    }
    aside, aside p {
        width: 100%;
        @include fontSize(14);
        font-weight: 700;
        text-align: center;
        margin: 0;
    }

}
.Mailinglist  {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    .cc_contactImg, .rainbowimg {
        max-width: 250px;
        width: 25%;
    }
    .mailing-list-img {
    max-width: 500px;
    width: 50%;
    // margin: 0 auto;
}
}


.Mailinglist {
    text-align: center;
    cursor: pointer;
    img {
        max-width: 500px;
    }
}
.galleryAdditionalInfo {
    @include fontSize(14);
    h3, h4 {
        text-align: center;
    }
}

.line {
    width: 100%;
    height: 1px;
    background: black;
    margin: 20px auto;
}

// map
.acf-map {
    width: 100%;
    height: 400px;
    border: #ccc solid 1px;
    margin: 20px 0;
}

// Fixes potential theme css conflict.
.acf-map img {
   max-width: inherit !important;
}
@media (max-width: 800px) { 
    .aboutContactContainer {
            .contact_address, .contact_contact,.contact_hours {
        width: 100%;
    }
    

    } 
    .Mailinglist {
        .cc_contactImg {
            display: none;
        }
        .mailing-list-img,.rainbowimg {
            // max-width: 100%;
            margin: 0 auto;
            width: 100%;
        }
    }


}