@mixin fontSize($sizeValue){
    font-size: $sizeValue * 1px;
     font-size: calc($sizeValue/10) * 1rem;
}
.secondaryButton {
    @include fontSize(8.5);
    font-weight: 700;
    text-transform: uppercase;
}
.exhibitionsNew {
    width: 100%;
}

.exhibitionMainImg {
        position: absolute;
        height: 100dvh;
        overflow: hidden;
        top: 0;
        left: 0;
        z-index: -10;
        img {
            object-fit: cover;
            min-height: 100dvh;
        }
}
.exhibitionHeader {
    
    height: calc(100dvh - 185px);
    position: relative;
    .exhibitionInfo {
        max-width: 330px;
    background: white;
    border: 1px solid black;
    padding: 20px;
    position: absolute;
    right: 0;
    .exhibitionTitle {
         margin: 0;
         margin-bottom: 10px;
    }
    .otherinfo {
        p {
            margin-top: 0;
            margin-bottom: 5px;
            line-height: 1.5;
        }
        .infoScroll {
            @extend .secondaryButton;
        }
    }
    }


    .artists {
        position: absolute;
        background: white;
        border: 1px solid black;
        padding:20px;
        width: fit-content;
    
        .exhibitors {
            li {
                @include fontSize(15);
                margin-bottom: 12px;
            }
        }
    }
    .two-column {
        column-count: 2;
        
    }
}
.imagesMenu {
    position: sticky;
    top:0;
    background: white;
    z-index: 2;
    
    .imagesmenuInner {
        border-bottom: .7px solid black;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;

        .artworksScroll {
            @extend .secondaryButton;
            padding-left: 10px;
        }
        
        .prToggle {
            background: transparent;
            border: none;
            color: black;
            @extend .secondaryButton;
            text-align: right;
            &:before {
                content: "+ ";
              }
        }
        .prToggleOpen {
            &:before {
                content: "- ";
              }
        }
        .moreInfo {
            @extend .secondaryButton;
            padding: 7px 10px;
            background: black;
            color: white;
            border-radius: 0;
            border: none;
            margin-right: -1px;
        }
        .exhibtionNews {
            .newsOpen {
                margin-top: 0;
            }
            #newsContentID {
                position: absolute;
                background: white;
                margin-top: 5px;
                padding: 0 15px 10px;
                border: .7px solid black;
            }
        }
    }
    .imagesMenuExpand {
        max-width: 900px;
        margin: 0 auto;
            // padding: 0 10px;
    .pressRelease {
        max-width: 900px;
        margin: 0 auto;
        display: none;
        position: absolute;
        background: white;
        border: .7px solid black;
        border-top: 0;
        max-height: calc(100dvh - 27px);
        overflow: scroll;
        // margin-top: 1px;
        padding: 10px 20px;
        .featuredVideoTitle {
            padding: 0;
            img {
                margin-right: 5px;
            }
        }
    }
    }
   
}
.exhibitionImages {
    .exhibitionImgs{
        margin: 0 auto;
        text-align: center;
        margin-bottom:3px;
        img {
            max-height: calc(100dvh - 30px);
            width: auto;
        }
   
       
    }
    .exhibitionImgs:nth-child(1) {
        img {
            border-top: none;
        }
    }

    .videoContainer {
        width: 100%;
        text-align: center;
        video {
            max-height: calc(100dvh - 30px);
            width: auto;
            max-width: 100%;
        }
    }
}
.exhibitionInquiry {
    display: none;
    position: absolute;
    background: white;
    min-width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 25%);
    padding: 30px;
    border: .7px solid black;
    p {
        margin: 0 10px 10px 0;
        
    }
    .closeInquiry {
        @extend .whiteText;
        float: right;
        text-transform: uppercase;
        width: fit-content;
        animation: appear .5s normal forwards ease-in-out;
	    cursor: pointer;
	    @include fontSize(12);
    }
    form {
        @extend .flex;
        flex-flow: wrap;
        justify-content: space-between;
        input, textarea {
			border-radius: 0;
			border: none;
			border-bottom: 1px solid #494949;
			color: #000;
			outline: none;
			width: 49%;
			padding: 10px 4px;
			@include fontSize(8);

		}
		textarea {
            width: 100%;
			margin: 15px 0 10px;
			height: 150px;
			border: 1px solid #494949; 
		}
		textarea::placeholder {
			text-transform: uppercase;
		}


		input::placeholder{
			text-transform: uppercase;
			
		}
    }
}
.artfairHeader {
    @extend .flex;
    width: 100%;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    figure {
        max-width: 440px;
    }
    .description {
        h2 {
            margin: 0;
            margin-bottom: 10px;
            @extend .whiteText;
        }
        p {
            margin: 0;
            margin-bottom: 5px;
        }
        .artFairArtists {
            margin-top: 10px;
        }
        .nonRep {
            text-transform: uppercase;
            font-weight: 800;
            list-style: none;
            margin:0;
            padding: 0;
            li {
                padding-bottom: 5px;
            }
        }
    }
}
.menuArtfair {
    .newsOpen {
        text-align: right;
        padding-right: 10px;
    }
 
}

@media (max-width: 920px) {
   .exhibitionHeader .two-column {
        .exhibitors li {
            @include fontSize(11);
        }
        
    }
}
@media (max-width: 850px) {
    .exhibitionMainImg {
        height: calc(100dvh - 75px);
    }
}

@media (max-width: 755px) {
    .exhibitionHeader .two-column {
        column-count: 1;
        .exhibitors li {
            @include fontSize(15);
        }
        
    }

    .imagesMenu {
        position: initial;
        .imagesmenuInner{
            flex-flow: wrap;
            border-left: .7px solid black;
            border-right: .7px solid black;
            a, button {

                width: 100%;
                text-align: center;
                padding: 7px 0;
                border-top: .7px solid black;
            }
            .prToggle {
                text-align: center;
                border-top: .7px solid black;
            }
            .exhibtionNews #newsContentID {
                left: 0;
            }
            .exhibtionNews {
                width: 100%;
                a {
                    border-top: 0;
                }
                #newsContentID {
                    position: relative;
                    border: none;
                }
    
            }
        }

        .highlight {
            left: 0;
        }
        .imagesMenuExpand {
            .pressRelease {
                border: none;
                overflow: auto;
                max-height:fit-content;
                position: initial;
            }
        }
    }
    .exhibitionInquiry {
        position: fixed;
        top: 0;
        width: 100%;
        padding: 15px;
    }
    .exhibitionHeader {
        height: fit-content;
        margin: 20px 0;
        .artists, .exhibitionInfo {
            position: unset;
            border: none;
            padding: 0;
        }
    }
    .exhibitionMainImg {
        width: 100%;
        top: initial;
        position: initial;
        height: fit-content;
        img {
            min-height: auto;
            height: auto;
        }
    }
    .artfairHeader {
        margin-bottom: 0;
        .description {
            order: 2;

        }
        figure {
            order: 1;
            margin-bottom: 20px;
        }
    }
    .menuArtfair .imagesmenuInner {
        padding: 0;
    }
}
