@mixin fontSize($sizeValue){
    font-size: $sizeValue * 1px;
    font-size: ($sizeValue/10) * 1rem;
}
.flex {
	display: flex;
	flex-flow: row wrap;
}
a {
	text-decoration: none;
}

footer {
	border-top: 1px solid black;
	// position: absolute;
    bottom: 0;
    width: 100%;
}
.mailing-list {
	display: none;
    position: fixed;
    top: 20%;
    left: 32%;
    background: white;
    border: 1px solid black;
    padding: 10px;
    min-height: 170px;
    @include fontSize(10);
    z-index: 20;
    max-width: 440px;
    min-width: 320px;

    .mlist_email {
    	border: none;
    	border-bottom: 1px solid;
    	text-transform: uppercase;
    	 outline: 0;
    	 width: 90%;
    	 position: absolute;
    	 top: 39%;
    	 // margin: 20px 0px;
    }
    .subscribe-to-mailing-list {

    	background: black;
    	padding: 7px 15px;
    	border: none;
    	// width: 200px;
    	color: white;
    	text-transform: uppercase;
    	position: absolute;
    	bottom: 15px;
    	right: 15px;
    	@include fontSize(9);
    	

    }
    .closelistML {
    	width: 50px;
    	border: none;
    	background: transparent;
    	margin: 0;
    	cursor: pointer;
    	@extend .whiteText;
    
    }

}

.mailing-listContact {
	@extend .mailing-list;
	position: absolute;
    top: 1083px;
}

.highlightML {
	display: block;
}

.Footermenu {
	@extend .flex;
	align-items: center; 
	justify-content: space-between;
	max-width: 1200px;
	margin: 0 auto;
	width: 95%;
	#menu-footer-menu{
		margin: 0;
		@extend .flex;
		width: 78%;
		list-style: none;
		padding: 0;
		li {
			width: 35.1%;
			position: relative;
			// left: 1%;
			padding: 14px 0;
			text-align: center;
			border: 1px solid;
			border-top: none;
			border-bottom: none;
			a {
				color: black;
			}
		}
	}
}
li.menu-item-14927, li.menu-instagram {
	border-right: none !important;
}
li.menu-item-14929, li.menu-book-an-appointment{
	width: 29% !important;
	left:1% !important;
	border: none !important;
	    top: -20px !important;
	    padding: 0 !important;
	    line-height: 2em;
	    text-align: left !important;
	a {
		color: white !important;
	}
}
.mailing-list-open, .menu-item-14929 a, .menu-book-an-appointment a{
		color: white;
		text-transform: uppercase;
		background: black;
		padding: 10px;
		// min-height: 43px;
		font-size: 1vw;
		// @include fontSize(9);
		outline: none;
		border: none;
		width: 15% !important;
		text-align: center;

}
.mailing-list-open {
	border: none;
    top: -29px;
    right: 1%;
    position: relative;
}
.addressFooter{

    width: 52%;
    max-width: 658px;
    margin: 0 auto;
    border: 1px solid;
    border-top: none;
    p{

    	max-width: 246px;
    	text-align: center;
    	margin: 0px auto;
    	padding: 11px;

    }

}
.copyright{
	width: 100%;
	text-align: center;
	margin: 0;
	padding: 5px 0 10px;
	border-top: 1px solid;
	@include fontSize(8);

}
