@mixin fontSize($sizeValue){
    font-size: $sizeValue * 1px;
    font-size: calc($sizeValue/10) * 1rem;
}
.container-home {
    width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: -1;
   
}
.home {
    footer {
        position: fixed;
    }
    h3 {
        @include fontSize(12);
    }
}
.timer {
    height: 1%;
    width: 0%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #09f;
    z-index: 10;
  }
.allexhibtions-home {
    position: relative;
  height: 100%;

}
// .slide {
//     width: 100%;
//     height: 100%;
//     }
  
// .slide { display: none;}
.exhibitionHome {
    position: relative;
    max-width: 100%;
    height: 100vh;
}
.exhibitionHome figure {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    img {
        height: 100vh;
        object-fit: cover;
    }


}
.artistNameExhibitionHome {
    @extend .whiteText;

    position: absolute;
    // height: 20vh;
    right: 10%;
    top: 20%;
    padding: 20px;
    background: white;
    border: 1px solid black;
    /* background: white; */

    .mohammadUl {

    list-style: none;
    margin: 0;
    padding: 0;
    


    }
    


}
.moreExhibits {
    position: fixed;
    bottom: 50%;
    left: 20px;
    background: white;
    @extend .whiteText;
    border: 1px solid black;
    padding: 0 20px;
    // color: white;
    @include fontSize(16);
    cursor: pointer;
}
.exhibitionDetailsHome {
    position: absolute;
    left: 10%;
    top: 20%;
    background: white;
    border: 1px solid black;
    padding: 20px;
    max-width: 260px;
    h3 {
        margin: 0;
        @extend .whiteText;
    }

}
.exhibitionDateLocationHome {
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    /* left: 25%; */
    background-color: white;
    align-items: center;
    border: 1px solid black;
    top: 85%;
    text-align: center;
    display: flex;
    flex-flow: row;
    min-width: 70%;

    font-weight: 700;
    .date {

    width: 50%;
    border-right: 1px solid;
    padding: 10px;

    }
    .location {
        width: 50%;
    }
}
.home {
    #header {

    position: fixed;
    width: 100%;

    }
    footer {
        background: white;
    }
}
.scroll {
    animation: none;
}

@media (max-width: 800px) { 
    
    .home {

        #header {
    
        position: initial;
        width: initial;
    
        }
        footer {
            background: transparent;
            position: relative;
        }
        h3 {
            @include fontSize(16)
        }
    }
    .moreExhibits {
        display: none;
    }
    
    .container-home {
        margin-bottom: 20px;
        position: initial;
        height: initial;

    }
    .allexhibtions-home{
        height: initial;

    }
    .slide {
        border-bottom: 1px solid black;

    }
    .slide:nth-last-child(1) {
        border-bottom: none;
    }
    .exhibitionHome {
        height: inherit;
        top: 0;
        padding-bottom: 20px;
    }
    .exhibitionHome a {

    display: flex;
    flex-flow: wrap;

    }
    .exhibitionHome figure { 
        position: inherit;
        height: inherit;
        width: calc(100% - 40px);
        margin: 0 auto;
        order: 2;
        img {
            border: 1px solid black;
            height: auto;
            object-fit: initial;
        }
    }
    .exhibitionDetailsHome {
position: inherit;
    width: 100%;
    // text-align: center;
    max-width: 100%;
    border: none;
    order: 3;


    }
    .artistNameExhibitionHome {

    position: inherit;
    border: none;
    order: 1;
	margin: 0;
    width: 100%;
    // text-align: center;
    .mohammadUl,.nonRepArtists {
        display: flex;
        flex-flow: wrap;
        
        width: 100%;
        li {
            margin: 0 10px 10px 0;
        }

    }
    .scroll {
        display: flex;
        white-space: nowrap;
        flex-flow: nowrap;
        overflow: hidden;
        width: fit-content;
        
        // animation: scroll 15s linear infinite;
        li {
            display: inline-block;
            margin-right: 10px; /* Adjust as needed */
 
  
        }

       
   }
   @keyframes scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }


    }

    .exhibitionDateLocationHome {
        position: inherit;
        order:4;
    transform: inherit;
    border: none;
    display: block;
    .date, .location {
        width: 100%;
        border: none;
        padding: 0 20px;
        text-align: left;
    }
    }

}
.blackBack {
	background: #000;
	border: 1px solid #fff;
}