@mixin fontSize($sizeValue){
    font-size: $sizeValue * 1px;
    font-size: calc($sizeValue/10) * 1rem;
}
.btn-dark-mode{
	width: 54px;
	height: 26px;
	margin-left: auto;
	margin-top: 10px;
	background-color: #000;
	border-radius: 25px;
	padding: 1px;
	display:flex;
	justify-content: flex-start;
	align-items: center;
	cursor: pointer;
	transition: 1s;
  }
  
  .slider {
	width: 22px;
	height: 22px;
	background-color: #FFF;
	border-radius: 50%;
	margin:2px;
	transition: 1s;
  }
  .mode {
	font-size: 17px;
	text-align: center;
  }
//   override styles
.blackBack {
	background: #000;
	border: 1px solid #fff;
}
@media (max-width: 730px) {
	.btn-dark-mode{ 
		margin: 0 auto;
	}
}