
label {
	svg {
		width: 30px;
		cursor: pointer;
	}
}
form.searchForm{
	display: flex;
	input{
		border: none;
		border-bottom: 1px solid;
		text-transform: uppercase;
		height: 25px;
		outline: none;
	}
}

input.searchSubmit{
	display: none;
}
.searchField {
	margin: 1em 0;
}
input#s{
	background: transparent;
}

//no results 
.noResults {
	width: 95;
	margin: 15% auto;
	figure {
		width: 50%;
		max-width: 250px;
		margin: 0 auto;
	}
	img {
		
	}
	h2 {
		@extend .whiteText;
		text-align: center;
		text-transform: uppercase;
	}
}

//search Resluts

.searchResultsPage {
	h2 {
		@extend .whiteText;
		text-transform: uppercase;
	}
	h3 {
		font-weight: 400;
	}
	article {
		padding-bottom: 12px;
		border-bottom: 1px solid #d4d4d4;
		border-top: 0 !important;
	}
}